{% load static %}
<html>
    <head>
        <title>Callback form</title>

        <script type="text/javascript" src={% static 'main.js' %} defer></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>

        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css" rel="stylesheet" type="text/css" />

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>

        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
        <div class="topnav">
            <a class="active" href="{% url 'index' %}">Callback</a>
            <a href="{% url 'backend' %}">Backend</a>
        </div>
        <div style="text-align: center; padding-top: 60px;">
            <h2>Please fill out the form</h2>
            <p>fields marked with * are mandatory</p></br></br>
            <div class="row-custom">
                <div class="column-left">
                    <input class="uinput" id="uname-input" type="text" placeholder="Name *" oninput="validateName();"></br>
                    <input class="uinput" id="uphone-input" type="text" placeholder="Phone number"></br>
                    <input class="uinput" id="ucompany-input" type="text" placeholder="Company"></br>
                    <input class="uinput" id="uemail-input" type="text" placeholder="Email *" oninput="validateEmail();"></br>
                </div>
                <div class="column-right">
                    <input class="uinput" id="usubject-input" type="text" placeholder="Subject *" oninput="validateSubject();"></br>
                    <textarea class="umessage" id="umessage-input" type="text" placeholder="Problem description *" oninput="validateMessage();"></textarea></br>
                </div>
            </div>
        </div>
        <div style="text-align: center;  padding-top: 50px;">
            <h2>Please pick out date and time for callback</h2>
            <p>leave empty and we will contact you as soon as possible or select the appropriate time for callback</p>
            <div class="row-custom">
                <div class="column-date">
                    <div id="datepicker" class="input-group date" onchange="onDateChange();">
                        <input class="form-control" type="text" readonly />
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </div>
            </div>
        </div>
        </br>
            <div class="row-time">
                <div class="column-time" id="saturday-off">
                    <button class="utime-button" disabled>
                        <div onclick="selectMeMain(this.id);" class="utime-notselected" id="80" name="time_selector">
                            08:00
                        </div>
                    </button>
                    <button class="utime-button" disabled>
                        <div onclick="selectMeMain(this.id);" class="utime-notselected" id="83" name="time_selector">
                            08:30
                        </div>
                    </button>
                    <button class="utime-button" disabled>
                        <div onclick="selectMeMain(this.id);" class="utime-notselected" id="90" name="time_selector">
                            09:00
                        </div>
                    </button>
                    <button class="utime-button" disabled>
                        <div onclick="selectMeMain(this.id);" class="utime-notselected" id="93" name="time_selector">
                            09:30
                        </div>
                    </button>
                    <button class="utime-button" disabled>
                        <div onclick="selectMeMain(this.id);" class="utime-notselected" id="10" name="time_selector">
                            10:00
                        </div>
                    </button>
                    <button class="utime-button" disabled>
                        <div onclick="selectMeMain(this.id);" class="utime-notselected" id="103" name="time_selector">
                            10:30
                        </div>
                    </button>
                    <button class="utime-button" disabled>
                        <div onclick="selectMeMain(this.id);" class="utime-notselected" id="11" name="time_selector">
                            11:00
                        </div>
                    </button>
                    <button class="utime-button" disabled>
                        <div onclick="selectMeMain(this.id);" class="utime-notselected" id="113" name="time_selector">
                            11:30
                        </div>
                    </button>
                    <button class="utime-button" disabled>
                        <div onclick="selectMeMain(this.id);" class="utime-notselected" id="12" name="time_selector">
                            12:00
                        </div>
                    </button>
                    <button class="utime-button" disabled>
                        <div onclick="selectMeMain(this.id);" class="utime-notselected" id="123" name="time_selector">
                            12:30
                        </div>
                    </button>
                    <button class="utime-button" disabled>
                        <div onclick="selectMeMain(this.id);" class="utime-notselected" id="13" name="time_selector">
                            13:00
                        </div>
                    </button>
                    <button class="utime-button" disabled>
                        <div onclick="selectMeMain(this.id);" class="utime-notselected" id="133" name="time_selector">
                            13:30
                        </div>
                    </button>
                    <button class="utime-button" disabled>
                        <div onclick="selectMeMain(this.id);" class="utime-notselected" id="14" name="time_selector">
                            14:00
                        </div>
                    </button>
                    <button class="utime-button" disabled>
                        <div onclick="selectMeMain(this.id);" class="utime-notselected" id="143" name="time_selector">
                            14:30
                        </div>
                    </button>
                    <button class="utime-button" disabled>
                        <div onclick="selectMeMain(this.id);" class="utime-notselected" id="15" name="time_selector">
                            15:00
                        </div>
                    </button>
                    <button class="utime-button" disabled>
                        <div onclick="selectMeMain(this.id);" class="utime-notselected" id="153" name="time_selector">
                            15:30
                        </div>
                    </button>
                    <button class="utime-button" disabled>
                        <div onclick="selectMeMain(this.id);" class="utime-notselected" id="16" name="time_selector">
                            16:00
                        </div>
                    </button>
                    <button class="utime-button" disabled>
                        <div onclick="selectMeMain(this.id);" class="utime-notselected" id="163" name="time_selector">
                            16:30
                        </div>
                    </button>
                    <button class="utime-button" disabled>
                        <div onclick="selectMeMain(this.id);" class="utime-notselected" id="17" name="time_selector">
                            17:00
                        </div>
                    </button>
                    <button class="utime-button" disabled>
                        <div onclick="selectMeMain(this.id);" class="utime-notselected" id="173" name="time_selector">
                            17:30
                        </div>
                    </button>
                    <button class="utime-button" disabled>
                        <div onclick="selectMeMain(this.id);" class="utime-notselected" id="18" name="time_selector">
                            18:00
                        </div>
                    </button>
                    <button class="utime-button" disabled>
                        <div onclick="selectMeMain(this.id);" class="utime-notselected" id="183" name="time_selector">
                            18:30
                        </div>
                    </button>
                    <button class="utime-button" disabled>
                        <div onclick="selectMeMain(this.id);" class="utime-notselected" id="19" name="time_selector">
                            19:00
                        </div>
                    </button>
                    <button class="utime-button" disabled>
                        <div onclick="selectMeMain(this.id);" class="utime-notselected" id="193" name="time_selector">
                            19:30
                        </div>
                    </button>
                </div>

                <div class="column-time" id="saturday-on" style="display:none;">
                    <button class="utime-button" disabled>
                        <div onclick="selectMeMain(this.id);" class="utime-notselected" id="80-s" name="time_selector">
                            08:00
                        </div>
                    </button>
                    <button class="utime-button" disabled>
                        <div onclick="selectMeMain(this.id);" class="utime-notselected" id="83-s" name="time_selector">
                            08:30
                        </div>
                    </button>
                    <button class="utime-button" disabled>
                        <div onclick="selectMeMain(this.id);" class="utime-notselected" id="90-s" name="time_selector">
                            09:00
                        </div>
                    </button>
                    <button class="utime-button" disabled>
                        <div onclick="selectMeMain(this.id);" class="utime-notselected" id="93-s" name="time_selector">
                            09:30
                        </div>
                    </button>
                    <button class="utime-button" disabled>
                        <div onclick="selectMeMain(this.id);" class="utime-notselected" id="10-s" name="time_selector">
                            10:00
                        </div>
                    </button>
                    <button class="utime-button" disabled>
                        <div onclick="selectMeMain(this.id);" class="utime-notselected" id="103-s" name="time_selector">
                            10:30
                        </div>
                    </button>
                    <button class="utime-button" disabled>
                        <div onclick="selectMeMain(this.id);" class="utime-notselected" id="11-s" name="time_selector">
                            11:00
                        </div>
                    </button>
                    <button class="utime-button" disabled>
                        <div onclick="selectMeMain(this.id);" class="utime-notselected" id="113-s" name="time_selector">
                            11:30
                        </div>
                    </button>
                    <button class="utime-button" disabled>
                        <div onclick="selectMeMain(this.id);" class="utime-notselected" id="12-s" name="time_selector">
                            12:00
                        </div>
                    </button>
                    <button class="utime-button" disabled>
                        <div onclick="selectMeMain(this.id);" class="utime-notselected" id="123-s" name="time_selector">
                            12:30
                        </div>
                    </button>
                </div>
            </div>
        </div>
        </br>
        <div style="text-align: center;">
            <p>Callback date and time:</p>
            <p id="datetime-select"></p>
            <p id="date-select" hidden></p>
            <p id="time-select" hidden></p>
        </div>
        </br></br></br>
        <div style="text-align: center;">
            <button id="modalBtn" class="unext-disabled">
                Next
            </button>
        </div>
        </br></br>


        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h2>Please confirm the form data</h2>
                <p>you can go back in order to edit your input or click Submit to confirm</p>
                </br></br></br>
                <div class="userform">
                    <label for="uname">Name:</label>
                    <p id="uname" name="uname"></p>
                </div>
                <div class="userform">
                    <label for="uphone">Phone number:</label>
                    <p id="uphone" name="uphone"></p>
                </div>
                <div class="userform">
                    <label for="ucompany">Company:</label>
                    <p id="ucompany" name="ucompany"></p>
                </div>
                <div class="userform">
                    <label for="uemail">Email:</label>
                    <p id="uemail" name="uemail"></p>
                </div>
                </br>
                <div class="userform">
                    <label for="usubject">Subject:</label>
                    <p id="usubject" name="usubject"></p>
                </div>
                <div>
                    <textarea class="formmessage" id="umessage" name="umessage" type="text" readonly></textarea>
                </div>
                </br>
                <div class="userform">
                    <label for="udatetime">Callback date and time:</label>
                    <p id="udatetime" name="udatetime"></p>
                </div>
                </br></br></br>
                <form class="contact-form" method="POST" action="/submit_form/">
                    {% csrf_token %}
                    <div style="text-align: center;">
                        <input type="text" id="name" name="name" hidden>
                        <input type="text" id="phone" name="phone" hidden>
                        <input type="text" id="company" name="company" hidden>
                        <input type="text" id="email" name="email" hidden>
                        <input type="text" id="subject" name="subject" hidden>
                        <textarea class="formmessage" id="message" name="message" type="text" hidden></textarea>
                        <input type="text" id="date" name="date" hidden>
                        <input type="text" id="time" name="time" hidden>
                        <button id="" class="unext-enabled">
                            Submit
                        </button>
                    </div>
                </form>
                </br></br>
            </div>
        </div>
    </body>
</html>


